
body {
    background: #8e8e8e;;
}

.menu {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background: #9b9b9b;
}

.wrap {
    display: flex;
    height: 50px;
    width: 100%;
}

.input {
    width: 70%;
}

.btn {
    width: 30%;
}

.btn form {
    height: 100%;
}

button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: 0.1s ease;
}

button:hover {
    background: deepskyblue;
    color: #fff;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0;
}

.messages {
    width: 100%;
    position: absolute;
    height: calc(100% - 50px);
    margin-bottom: 50px;
    background: whitesmoke;
    color: #282c34;
    text-align: left;
    overflow: auto;
    scroll-behavior: smooth;
}

.menu p {
    font-size: 20px;
    max-width: 72%;
    word-break: break-word;
    padding: 7px 15px 7px 7px;
}

.messageBody {
    display: flex;
    padding: 0 40px;
}

.message {
    display: flex;
}

.messageTime {
    font-size: 15px !important;
    background: #efefef;
    height: fit-content !important;
    padding: 0 10px !important;
    margin-left: 10px !important;
}

.headWrapper {
    width: 48%;
    display: flex;
    position: fixed;
    justify-content: flex-end;

}

.counter {
    display: flex;
    width: 50px;
    height: 50px;
    background: #8e8e8e;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    margin: 0 auto;
}

.blink {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-duration: 2s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 2s;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@media (max-width: 500px) {
    .menu {
        width: 100%;
        height: 100vh;
    }

    .downWrap {
        width: 100%;
    }

    .viewWrap {
        width: 100%;
    }
}

.active {
    background: #cccccc;
    border-radius: 17px;
    position: relative;
}

.noActive {
    background: #d5efff;
    border-radius: 17px;
    position: relative;
}

.noActive:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #d5efff transparent;
}

.active:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #cccccc;
}

.messenger {
    display: flex;
}

